#いち {
    text-align: center;
}

#に {
    margin: 30px;
}

#さん {
    margin: 30px;
}

#よん {
    margin: 30px;
}

#ご {
    margin: 30px;
}

span {
    background-color: #add8e6;
    border-radius: 5px;
    border: solid #000000 2px;
}

h2 {
    -webkit-text-stroke: 1px black;
    font-size: 40px;
}